.c {
  position: absolute;
  max-width: 1280px;
  max-height: 500px;
  width: 800px;
  height: 400px;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(https://images.pexels.com/photos/18192206/pexels-photo-18192206/free-photo-of-light-city-road-traffic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.front {
  background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
